.products {
  margin-top: 20px;
  position: relative;
}

.product-item {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.53);
  margin-top: 10px;
  padding: 10px 15px;
}

.product-item:hover {
  transition: 0.3s all;
  background-color: rgb(204, 210, 217);
  transform: scale(1.03);

  box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.53);
}

.products-clear__btn {
  position: absolute;
  right: 0;
  margin-top: 30px;
  border: none;
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: 0.3s all;
}
